footer {
  position: absolute;
  bottom: 0;
  background-color: #15161a;
  color: white;
  width: 100%;

  .footer__container {
    width: 90%;
    margin: 0 auto;

    .footer__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;

      .footer__square {
        width: 100px;
        height: 110px;
        background-color: transparent;
        border: rgb(41, 44, 51) solid 1px;
        padding-left: 10px;
        margin: 0;
        transition: 0.3s;

        &:hover {
          border: solid 1px rgb(232, 131, 1);
        }

        p {
          font-size: 25px;
          font-weight: bold;
          color: rgb(41, 44, 51);
          text-align: left;
          margin: 0;
          line-height: 1.5;
          cursor: pointer;

          &:hover {
            color: rgb(161, 165, 177);
          }
        }
      }

      .footer__nabthat {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8%;

        h1 {
          color: rgb(41, 44, 51);
          font-size: 26px;
          margin: 0 10px;
        }
      }

      .footer__line {
        margin-top: 3.5%;
        width: 50px;
        height: 1px;
        background-color: rgb(41, 44, 51);
      }

      .footer__buttonContainer {
        position: relative;

        .footer__displayOptionsContainer {
          &:hover .footer__options,
          .footer__options:hover {
            max-height: 200px;
            opacity: 1;
            padding: 5px 0;
          }
        }

        .fa-angle-up {
          transition: transform 0.3s;
        }

        .fa-angle-up.rotate {
          transform: rotate(180deg);
        }

        .footer__button--displayOptions {
          width: 230px;
          padding: 12px;
          border: rgb(41, 44, 51) solid 1px;
          color: #a3a8b5;
          background-color: transparent;
          font-weight: bold;
          font-size: 15px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          gap: 5px;
          transition: 0.3s;

          &:hover {
            border: #e0e0e1 solid 1px;
            color: #e0e0e1;
          }
        }

        .footer__options {
          max-height: 0;
          opacity: 0;
          overflow: hidden;
          transition: max-height 0.7s ease, opacity 0.7s ease, padding 0.7s ease;
          position: absolute;
          bottom: 92px;
          left: 0;
          width: 230px;
          background-color: white;
          border-radius: 3px;
          text-align: left;
          z-index: 1;
          box-shadow: 1px 3px 28px -7px rgba(0, 0, 0, 1);

          .footer__option {
            font-weight: bold;
            width: 100%;
            padding: 10px;
            border: none;
            background-color: transparent;
            color: black;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            transition: background-color 0.3s, color 0.3s;

            span {
              margin-right: 10px;
              color: rgb(41, 44, 51);
              transition: color 0.3s;
            }

            &:hover {
              color: orange;

              span {
                color: orange;
              }
            }
          }
        }
      }
    }
  }

  .footer__options.show {
    max-height: 200px;
    opacity: 1;
    padding: 5px 0;
  }
}
@media screen and (max-width: 678px) {
  footer {
    position: fixed;
    .footer__container {
      width: 100%;
      .footer__content {
        padding: 24px;
        .footer__square {
          width: 80px;
          height: 90px;
          margin: 0;
          p {
            font-size: 20px;
          }
          .footer__buttonContainer {
            .footer__button--displayOptions {
              width: 150px;
              padding: 12px;
            }

            .footer__options {
              bottom: 82px;
            }
          }
        }
        .footer__nabthat {
          display: none;
        }
        .footer__line {
          display: none;
        }
      }
    }
  }
}
